<h2>change password</h2>
<%= form_with(model: @user, local: true, url: profile_password_change_path) do |form| %>
  <%= render 'shared/error_messages', object: @user %>
<table>
  <tr>
    <td><%= form.label :old_password %></td>
    <td><%= form.password_field :old_password %></td>
  </tr>
  <tr>
    <td><%= form.label :password %></td>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <td><%= form.label :password_confirmation %></td>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= form.submit "Confirm" %></td>
    <td><%= link_to "Cancel", profile_path %></td>
  </tr>
</table>
<% end %>