<h2>My profile</h2>
<h5>Personal information</h5>
<table>
  <tr>
    <td>
      <%= image_tag @user.avatar.url(:square) %>
    </td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>First Name:</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><%= @user.last_name %></td>
  </tr>
</table>
<ul>
  <li><%= link_to "Edit profile", profile_edit_path %></li>
  <li><%= link_to "Change Password", profile_password_change_path %></li>
</ul>