<!DOCTYPE html>
<html>
  <head>
    <title>TestAuth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="alert alert-dismissable alert-
      <%= key %>">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <% if value.class == Array %>
        <% value.each do |message| %>
          <%= message %>
          </br>
        <% end %>
      <% else %>
        <%= value %>
      <% end %>
    </div>
  <% end %>
  <ul>
    <li><%= link_to "Sign Up", new_users_path %></li>
  </ul>
    <%= yield %>
  </body>
</html>